<mat-card>
<h2>Добавить рецепт</h2>


<mat-form-field style="width:100%">
<input matInput placeholder="Название" [(ngModel)]="title" />
</mat-form-field>


<mat-form-field style="width:100%">
<input matInput placeholder="Описание" [(ngModel)]="description" />
</mat-form-field>


<mat-form-field style="width:100%">
<input matInput placeholder="URL изображения" [(ngModel)]="imageUrl" />
</mat-form-field>


<mat-form-field style="width:100%">
<input matInput placeholder="Добавить ингредиент" [(ngModel)]="newIngredient" />
<button mat-button matSuffix (click)="addIngredient()">Добавить</button>
</mat-form-field>
<ul><li *ngFor="let i of ingredients">{{ i }}</li></ul>


<mat-form-field style="width:100%">
<input matInput placeholder="Добавить шаг" [(ngModel)]="newStep" />
<button mat-button matSuffix (click)="addStep()">Добавить</button>
</mat-form-field>
<ol><li *ngFor="let s of steps">{{ s }}</li></ol>


<button mat-raised-button color="primary" (click)="save()">Сохранить</button>
</mat-card>